.dhduyfgygh {
    background-image: url('png.png');
    background-position: 0px 0px;
}
.ggkhygkgk {
    background-image: url('png.png');
    background-position: 1400px 2492px;
}
.ljulhygfg {
    background-image: url('png.png');
    background-position: 2800px 4984px;
}
